
<section class="apparelProduct-container">

    <section class="sticky-header">
        <div class="product-name">{{product.title}}</div>
        <div class="delivery-box">
            <div class="delivery-truck"></div>
            <div class="delivery-text">Free 2-Day Shipping +
                <p> Free Returns</p>
            </div>
        </div>
        <div class="plus-box">
            <div class="plus-logo"></div>
            <div class="sale-text">Save 20%</div>
            <div class="price-text">US${{product.price}}</div>
            <div class="add-button" ng-hide="cartId !== 0 && size !== 0">Add To Cart</div>
            <div class="add-button-green" ng-click="addToCart(cartId, prodid, count, size)" ng-show="cartId !== 0 && size !== 0">Add To Cart &nbsp&nbsp&#10095</div>
        </div>
    </section>


    <section class="product-container">
        <div class="vertical-thumbs">
            <div class="arrow-up"></div>
            <div> <!--changed getproduct.img to theproducts, took out ng-repeat-->
              <div class="thumbnail" ng-repeat="image in thumbs track by $index">
                <img class="thumb-proportion" ng-src="{{image}}" ng-click="imgSwitch(image, $index)"/> <!-- $index to show current index of thumbs array for modal-->
              </div>
            </div>
            <div class="arrow-down"></div>
        </div>

        <div class="main-image-container">
          <img class="img-proportion" src="{{selectedImage}}"/>
          <div class="zoom" ng-click="showModal=!showModal"></div>

        </div>
        <!-- //==============================================================================//
             //                              START  Modal                                    //
             //==============================================================================// -->
          <div class="modal-bg" ng-show="showModal">
            <span class="close" ng-click="showModal = !showModal">&times;</span>
            <div class="modal-image-container">
              <img class="modal-image-proportion" src="{{selectedImage}}"/>
              <a class="prev" ng-click="showNext('-')">&#10094;</a>
              <a class="next" ng-click="showNext('+')">&#10095;</a>
            </div>
            </div>

  <!-- <a class="prev" ng-repeat="image in thumbs" ng-click="imgSwitch(image)">&#10094;</a>
  <a class="next" ng-repeat="image in thumbs" ng-click="imgSwitch(image)">&#10095;</a> -->


            </div>
     <!-- //==============================================================================//
          //                             END  Modal                                       //
          //==============================================================================// -->
        </div>

        <div class="details-box">
            <div class="paypal-info-box">
                <p style="color: #666666">Qualifies for</p>
                <div class="pp-logo-size"></div>
                <p style="color: #009FDF">What is this?</p>
            </div>
            <div class="description-box">{{product.description}}</div>
            <div class="margin">
            <div class="titles color-position">color</div>
            <div class="swatch-position">
            <div class="circle-color {{color.color}}" ng-repeat="color in colorSwatches track by $index" ng-click="colorImageSelect($index)" ng-class="{'blue-border': $index === selected}"></div>
          </div>
            <div class="titles size-position">size</div>
            <div class="size-container">
                <div class="size-boxes" ng-click="size = 'Small'" ng-class="{'border-blue': size === 'Small'}">s</div>
                <div class="size-boxes" ng-click="size = 'Medium'" ng-class="{'border-blue': size === 'Medium'}">m</div>
                <div class="size-boxes" ng-click="size = 'Large'" ng-class="{'border-blue': size === 'Large'}">l</div>
                <div class="size-boxes" ng-click="size = 'Extra Large'" ng-class="{'border-blue': size === 'Extra Large'}">xl</div>
            </div>
            <p style="color:#666666; font-family: proxima-nova-medium; font-size: 14px; margin-left: 22px; margin-top: 10px;">Select a color and size to add item to cart.
                <div class="titles quantity-position">quantity</div>
                <div class="quantity-container">
                    <button class="size-boxes plus" ng-click="count = count - 1" ng-init="count = 1" ng-disabled="count == 1"></button>
                    <div class="counter">{{count}}</div>
                    <button class="size-boxes minus" ng-click="count = count + 1" ng-init="count = 1"></button>
                </div>
              </div>
        </div>
    </section>

</section>
