<div class="cameras-container">
    <section class="top-section">
      <div class="top-hero-box">
        <div class="header-text">
          <h1 class="header-text-styling">Capture Different</h1>
          <p class="tagline-text">See life from a new perspective.</p>
        </div>
        <img class="top-hero-image" src="https://shop.gopro.com/on/demandware.static/-/Sites/default/dwa41b8054/images/slot/hero5_launch/Holiday2016-CLP-HeroBG-Desktop.jpg">
      </div>
      <img class="stacked-cams" src="https://shop.gopro.com/on/demandware.static/-/Sites/default/dw3057fe69/images/slot/hero5_launch/Compare-Lockup2.png">
    </section>

    <section class="hero-container">
        <img class="hero5-header-size" src="https://shop.gopro.com/on/demandware.static/-/Sites-gopro-products/default/dw42c31782/hero5launch/CyberMonday-CLP-H5Black-Background-Desktop-DEV.jpg">
        <img class="hero5-logo-position" src="https://shop.gopro.com/on/demandware.static/-/Sites-gopro-products/default/dw0b8b4b8f/product-logo/HERO5Black-logo.png">
        <img class="hero5-image" src="https://shop.gopro.com/on/demandware.static/-/Sites-gopro-products/default/dw0d85db71/hero5launch/GoPro-Holiday-H5Black-Lockup-DEV.png">
          <h2 class="title-font">Simply the best GoPro, ever.</h2>
        <p></p>
        <p class="tag-line"> HERO5 Black is the most powerful and easy to use GoPro ever, thanks to its 4K video, voice control, one-button simplicity, touch display and waterproof design.</p>
        </p>
        <p class="top-box-price">$399.99</p>
        <div class="button-row">
          <div class="solid-button" ng-click="addToCart(2, 1, 1)">ADD TO CART</div>
          <div class="outline-button">LEARN MORE</div>
        </div>
        <p></p>
        <div class="compare-text">compare cameras</div>
</section>
    <section class="sessions-container">
      <div class="left-half">
        <div class="hero5-box">
          <img class="hero5-header-size" src="http://demandware.edgesuite.net/aasj_prd/on/demandware.static/-/Sites-gopro-products/default/dw8f674a89/hero5launch/CyberMonday-CLP-H5Session-Background-Desktop-DEV.jpg">
          <img class="logo" src="http://demandware.edgesuite.net/aasj_prd/on/demandware.static/-/Sites-gopro-products/default/dw1223b546/hero5launch/Hero5-Session-logo.png">
          <img class="hero5-session-image" src="http://demandware.edgesuite.net/aasj_prd/on/demandware.static/-/Sites-gopro-products/default/dw56c6950e/hero5launch/GoPro-Holiday-H5Session-Lockup-DEV.png">
            <h2 class="title-font">The best, only smaller.</h2>
          <p></p>
          <p class="tag-line">HERO5 Session combines 4K video, one-button simplicity and voice control all in a small, waterproof design.</p>
          </p>
          <p class="top-box-price">$299.99</p>
          <div class="button-row">
            <div class="solid-button" ng-click="addToCart(1, 1, 1)">ADD TO CART</div>
            <div class="outline-button">LEARN MORE</div>
          </div>
          <p></p>
          <div class="compare-text">COMPARE CAMERAS</div>
        </div>
      </div>
      <div class="right-half">
        <div class="hero5-box">
          <img class="hero5-header-size" src="http://demandware.edgesuite.net/aasj_prd/on/demandware.static/-/Sites-gopro-products/default/dw07cf5493/hero5launch/CyberMonday-CLP-Session-Background-Desktop.jpg">
          <img class="logo" src="http://demandware.edgesuite.net/aasj_prd/on/demandware.static/-/Sites-gopro-products/default/dw304e0783/hero5launch/Hero-Session-logo.png">
          <img class="session-image" src="http://demandware.edgesuite.net/aasj_prd/on/demandware.static/-/Sites-gopro-products/default/dw0d9cb371/hero5launch/GoPro-Holiday-HSession-Lockup-DEV.png">
            <h2 class="title-font">GoPro, simplified.</h2>
          <p></p>
          <p class="tag-line">HERO Session™ is ready for any adventure with its one-button simplicity and compact waterproof design.</p>
          </p>
          <p class="top-box-price">$199.99</p>
          <div class="button-row">
            <div class="solid-button" ng-click="addToCart(3, 1, 1)">ADD TO CART</div>
            <div class="outline-button">LEARN MORE</div>
          </div>
          <p></p>
          <div class="compare-text">COMPARE CAMERAS</div>
        </div>
      </div>
    </section>



    <section class="bottom-hero-container">
      <img class="top-hero-image" src="http://demandware.edgesuite.net/aasj_prd/on/demandware.static/-/Sites/default/dwb17746a1/images/slot/hero5_launch/FindTheRightGoPro_Desktop_v2.jpg">
      <div class="header-text">
        <h1 class="bottom-text-styling">Find the right GoPro for you.</h1>
      </div>
    </section>

    <!--!!!!!!!!!!!!!!!!! comparison charts !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <div class="compare-container">
        <!-- HERO5 Black-->
        <div class="compare-column">
            <div class="top-box">
                <div class="top-box-title">HERO5 Black</div>
                <div class="top-box-price">$399.99</div>
                <div class="top-learn-more-button">LEARN MORE</div>
            </div>
            <div class="img-box">
                <img class="img-HERO5" src="https://shop.gopro.com/on/demandware.static/-/Sites-gopro-products/default/dw41a1ade9/hero5launch/HERO5_Black_compare_v2.png">
            </div>
            <div class="spec-container">
                <ul id="two-columns">
                    <li class="spec-box spec-box-color1" style="height: 240px">
                        <div class="top-two-icon-size icon-camera"></div>
                        <span class="top-two-text-align">12mp / 30 FPS BURST TIME LAPSE</span>
                    </li>
                    <li class="spec-box spec-box-color2" style="height: 240px">
                        <div class="top-two-icon-size icon-video"></div>
                        <span class="top-two-text-align">4K30/1440P80/ 1080P120</span>
                    </li>
                    <li class="spec-box spec-box-color3">
                        <div class="icon-size icon-waterproof"></div>
                        <span class="text-align">WATERPROOF 33FT (10M)</span>
                    </li>
                    <li class="spec-box spec-box-color4">
                        <div class="icon-size icon-one-button"></div>
                        <span class="text-align">SIMPLE ONE-BUTTON CONTROL</span>
                    </li>
                    <li class="spec-box spec-box-color5">
                        <div class="icon-size icon-wifi"></div>
                        <span class="text-align">WIFI + BLUETOOTH</span>
                    </li>
                    <li class="spec-box spec-box-color6">
                        <div class="icon-size icon-wind"></div>
                        <span class="text-align">ADVANCED WIND NOISE REDUCTION</span>
                    </li>
                    <li class="spec-box spec-box-color7">
                        <div class="icon-size icon-voice"></div>
                        <span class="text-white">VOICE CONTROL</span>
                    </li>
                    <li class="spec-box spec-box-color8">
                        <div class="icon-size icon-stabilization"></div>
                        <span class="text-white">VIDEO STABILIZATION</span>
                    </li>
                    <li class="spec-box spec-box-color9">
                        <div class="icon-size icon-touch"></div>
                        <span class="text-white">TOUCH DISPLAY</span>
                    </li>
                    <li class="spec-box spec-box-color10">
                        <div class="icon-size icon-auto-upload"></div>
                        <span class="text-white">AUTO-UPLOAD TO CLOUD</span>
                    </li>
                    <li class="spec-box spec-box-color11">
                        <div class="icon-size icon-location text-align"></div>
                        <span class="text-white">LOCATION CAPTURE</span>
                    </li>
                    <li class="spec-box spec-box-color12">
                        <div class="icon-size icon-raw"></div>
                        <span class="text-white">RAW + WDR PHOTOS</span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- HERO5 Session -->
        <div class="compare-column" style="padding: 0 30px;">
            <div class="top-box">
                <div class="top-box-title">HERO5 Session™</div>
                <div class="top-box-price">$299.99</div>
                <div class="top-learn-more-button">LEARN MORE</div>
            </div>
            <div class="img-box">
                <img class="img-HERO5-session" src="https://shop.gopro.com/on/demandware.static/-/Sites-gopro-products/default/dw67485b33/hero5launch/HERO5_Session_compare_v2.png">
            </div>
            <div class="spec-container">
                <ul id="two-columns">
                    <li class="spec-box spec-box-color1" style="height: 240px">
                        <div class="top-two-icon-size icon-camera"></div>
                        <span class="top-two-text-align">12mp / 30 FPS BURST TIME LAPSE</span>
                    </li>
                    <li class="spec-box spec-box-color2" style="height: 240px">
                        <div class="top-two-icon-size icon-video"></div>
                        <span class="top-two-text-align">4K30/1440P80/ 1080P120</span>
                    </li>
                    <li class="spec-box spec-box-color3">
                        <div class="icon-size icon-waterproof"></div>
                        <span class="text-align">WATERPROOF 33FT (10M)</span>
                    </li>
                    <li class="spec-box spec-box-color4">
                        <div class="icon-size icon-one-button"></div>
                        <span class="text-align">SIMPLE ONE-BUTTON CONTROL</span>
                    </li>
                    <li class="spec-box spec-box-color5">
                        <div class="icon-size icon-wifi"></div>
                        <span class="text-align">WIFI + BLUETOOTH</span>
                    </li>
                    <li class="spec-box spec-box-color6">
                        <div class="icon-size icon-wind"></div>
                        <span class="text-align">ADVANCED WIND NOISE REDUCTION</span>
                    </li>
                    <li class="spec-box spec-box-color7">
                        <div class="icon-size icon-voice"></div>
                        <span class="text-white">VOICE CONTROL</span>
                    </li>
                    <li class="spec-box spec-box-color8">
                        <div class="icon-size icon-stabilization"></div>
                        <span class="text-white">VIDEO STABILIZATION</span>
                    </li>
                    <li class="spec-box spec-box-color9">
                        <div class="icon-size icon-touch"></div>
                        <span class="text-white">TOUCH DISPLAY</span>
                    </li>
                </ul>
            </div>
        </div>
        <!--HERO Session -->
        <div class="compare-column">
            <div class="top-box">
                <div class="top-box-title">HERO Session™</div>
                <div class="top-box-price">$179.99</div>
                <div class="top-learn-more-button">LEARN MORE</div>
            </div>
            <div class="img-box">
                <img class="img-session" src="https://shop.gopro.com/on/demandware.static/-/Sites-gopro-products/default/dw08a1832b/hero5launch/HERO_Session_compare_v2.png">
            </div>
            <div class="spec-container">
                <ul id="two-columns">
                    <li class="spec-box spec-box-color1" style="height: 240px">
                        <div class="top-two-icon-size icon-camera"></div>
                        <span class="top-two-text-align">12mp / 30 FPS BURST TIME LAPSE</span>
                    </li>
                    <li class="spec-box spec-box-color2" style="height: 240px">
                        <div class="top-two-icon-size icon-video"></div>
                        <span class="top-two-text-align">4K30/1440P80/ 1080P120</span>
                    </li>
                    <li class="spec-box spec-box-color3">
                        <div class="icon-size icon-waterproof"></div>
                        <span class="text-align">WATERPROOF 33FT (10M)</span>
                    </li>
                    <li class="spec-box spec-box-color4">
                        <div class="icon-size icon-one-button"></div>
                        <span class="text-align">SIMPLE ONE-BUTTON CONTROL</span>
                    </li>
                    <li class="spec-box spec-box-color5">
                        <div class="icon-size icon-wifi"></div>
                        <span class="text-align">WIFI + BLUETOOTH</span>
                    </li>
                    <li class="spec-box spec-box-color6">
                        <div class="icon-size icon-wind"></div>
                        <span class="text-align">ADVANCED WIND NOISE REDUCTION</span>
                    </li>
                    <li class="spec-box spec-box-no-color">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="learn-more-row">
        <div class="learn-more-container">
            <div class="learn-more-button">LEARN MORE</div>
        </div>
        <div class="learn-more-container">
            <div class="learn-more-button">LEARN MORE</div>
        </div>
        <div class="learn-more-container">
            <div class="learn-more-button">LEARN MORE</div>
        </div>
    </div>
    <div class="compare-text-bottom">expand full specs</div>
</div>
