<div class="cart-page">

   <div class="fixed-cart-header">
      <h2>Shopping Cart</h2>
      <div class="buttons">
         <a ui-sref="cameras"><div class="button-clear">
            <h2>Continue Shopping</h2>
         </div></a>
         <a ui-sref="checkout"><div class="button-green">
            <h2>Checkout</h2>
            <h3>&#10095;</h3>
         </div></a>
      </div>
   </div>
<!-- Cart Table (column names)
************************************************************* -->
<!-- can't use li, try divs -->
<div class="table-header">
    <div id="product">Product</div>
    <div id="ghost-description"></div>
    <div id="quantity">Quantity</div>
    <div id="price">Price</div>
    <div id="total-price">Total Price</div>
</div>

<!-- Items in cart
************************************************************* -->
   <div class="items-incart" ng-repeat="item in cart">
         <div class="left">
            <div class="img-container">
               <img src="{{item.img_url}}" alt="">
            </div>
         </div>
         <div class="right">
            <div class="one">
               <h2>{{item.size}} {{item.title}}</h2>
               <h3>Availibility: In Stock</h3>
            </div>
            <div class="two">
               <select ng-model="item.count" ng-options="x for x in values" ng-selected="updateTotal()">
					</select>
               <h2 ng-click="removeFromCart(item.id)">Remove</h2>
            </div>
            <div class="three">
               <h2>{{item.price | currency}}</h2>
            </div>
            <div class="three">
               <h2>{{item.count * item.price | currency}}</h2>
            </div>
         </div>
   </div>

   <div class="total">
      <div class="subTotal">
         <div class="row">
            <h3>Subtotal</h3>
            <h2>{{subTotal | currency}}</h2>
         </div>
         <div class="row bot-bar">
            <h3>Estimated Shipping</h3>
            <h2>{{shipping | currency}}</h2>
         </div>
         <div class="row">
            <h3>Estimated Total</h3>
            <h2>{{shipping + subTotal | currency}}</h2>
         </div>
         <div class="row">
            <h4>Prices shown reflects USD. Price excludes sales tax.</h4>
         </div>
      </div>
   </div>
</div>
