<!-- {{test}}


<a ui-sref="home">Home</a>
<a ui-sref="loggin">loggin</a>
<a ui-sref="cameras">Cameras</a>
<a ui-sref="drones">Drones</a>
<a ui-sref="apparel">apparel</a>
<a ui-sref="apparelProduct">apparelProduct</a> -->

<div class="jumbo-wrapper">
  <!-- <img class="poster" src="https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/ys/Hero5Bg_desktop.jpg" alt="" /> -->
  <img class="poster" src="https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/cybermonday/CyberMonday-Hero-Background.png" />
  <!-- <video loop preload="auto" class="jumb otron" poster="https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/ys/Hero5Bg_desktop.jpg" autoplay>
    <source src="https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/ys/GoProCom_Loop.mp4" type="video/mp4">
  </video> -->
  <div class="cameras">
    <img src="https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/cybermonday/CyberMonday-ProductLockup-LS.png" alt="" />
  </div>
</div>
<div>
  <h1 class="text"></h1>
</div>
