<div class="jumbo-wrapper hover-directive">
  <img class="poster" ng-src="{{currentState === 'home' && 'https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/cybermonday/CyberMonday-Hero-Background.png' || currentState === 'cameras' && 'https://shop.gopro.com/on/demandware.static/-/Sites/default/dwdada4f94/images/slot/CLP-Hero-Desktop-DEV2.png'}}" align="center"/>
  <!-- <video loop preload="auto" class="jumb otron" poster="https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/ys/Hero5Bg_desktop.jpg" autoplay>
    <source src="https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/ys/GoProCom_Loop.mp4" type="video/mp4">
  </video> -->
     <div class="cameras" ng-hide="currentState === 'cameras'">
       <img src="https://d3rd8mpr9gp2n3.cloudfront.net/content/dam/homepage/cybermonday/CyberMonday-ProductLockup-LS.png" alt="" />
     </div>
  </div>
</div>
