.apparelProduct-container {
  -webkit-font-smoothing: antialiased;
  height: 800px;
  background: #FFFFFF;
  // @include flexSetUp(center, center);

  .sticky-header {
    max-width:1180px; /*1200 minus the padding*/
    height: 42px;
    background: #EEEEEE;
    padding: 2px 10px;
    z-index: 3;
    position: fixed;
    right: 0;
    left: 0;
    top: 107px;
    margin-right: auto;
    margin-left: auto;
    border-radius:3px;
    @include flexSetUp(flex-start, center);

  }

  .product-name {
    width: 300px;
    font-family: $title;
    font-size: 30px;
    color: #000000;
  }

  .delivery-box {
    width: 185px;
    height: 33px;
    display: flex;
    position: relative;
    left: 34px;
  }

  .delivery-truck {
    width: 32px;
    height: 32px;
    background: url('http://demandware.edgesuite.net/aasj_prd/on/demandware.static/Sites-GoPro-Site/-/default/dw29b007ae/images/interface/deliveryVan.png');
    background-repeat: no-repeat;

  }

  .delivery-text {
    color: #ba0c10;
    font-family: 'proxima-nova-medium';
    font-size: 14px;
    line-height: 16px;
    margin-left: 13px;
  }

  .plus-box {
    display: flex;
    position: relative;
    margin-top: 9px;
    left: 219px;
  }

  .plus-logo {
    width: 98px;
    background: url('http://demandware.edgesuite.net/aasj_prd/on/demandware.static/Sites-GoPro-Site/-/default/dw7ece6f7a/images/goproplus/plus-logo-c.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sale-text {
    font-family: "Tahoma", "Helvetica", sans-serif;
    font-size: 22px;
    color: #009FDF;
    margin-left: 10px;
    margin-top: -2px;
  }

  .price-text {
    font-family: $tagline;
    font-weight: bold;
    font-size: 24px;
    color: $fake-black;
    margin-left: 10px;
    margin-top: -2px;
  }

  .add-button {
    width: 125px;
    height: 19px;
    border-radius: 2px;
    background-color: #999999;
    color: #FFF;
    font-family: $title;
    font-size: 15px;
    margin-left: 21px;
    margin-top: -9px;
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 8px;
    text-transform: uppercase;
  }

  .add-button-green {
    width: 125px;
    height: 19px;
    border-radius: 2px;
    background-color: #7ed321;
    color: #FFF;
    font-family: $title;
    font-size: 15px;
    margin-left: 21px;
    margin-top: -9px;
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.6s ease;
  }

  .add-button-green:hover,
  .add-button-green:focus {
    background-color: #7ed321 * .8;
    text-decoration: none;
    cursor: pointer;
  }
  //==============================================================================//
  //                             Product Container                                //
  //==============================================================================//

  .product-container {
    max-width: 1196px;
    height: 533px;
    position: relative;
    top: 153px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
  }

  //==============================================================================//
  //                               Thumbnails                                     //
  //==============================================================================//
  .vertical-thumbs {
    width: 92px;
    height: 366px;
    cursor: pointer;
  }

  .arrow-up {
    width: 18px;
    height: 36px;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url('http://demandware.edgesuite.net/aasj_prd/on/demandware.static/Sites-GoPro-Site/-/default/v1480629108605/images/cartNext.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    cursor: pointer;
  }

  .thumbnail {
    width: 90px;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px #cccccc solid;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    top: 8px;
    @include flexSetUp(center);
    cursor: pointer;
  }
  .thumb-proportion {
    max-height: 100%;
    height: auto;
    width: auto;
   overflow: hidden;
  }

  .arrow-down {
    width: 18px;
    height: 36px;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-image: url('http://demandware.edgesuite.net/aasj_prd/on/demandware.static/Sites-GoPro-Site/-/default/v1480629108605/images/cartNext.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-bottom: -7px;
    cursor: pointer;
  }

  //==============================================================================//
  //                                Main Image                                    //
  //==============================================================================//
  .main-image-container {
    width: 657px;
    margin: 0 10px;
    position: relative;
    @include flexSetUp(center, center)
  }

  .img-proportion {
    max-height: 400px;
    max-width: 657px;
    position: relative;
  }

  .zoom {
    width: 36px;
    height: 36px;
    filter:brightness(90%);
    background: url('http://demandware.edgesuite.net/aasj_prd/on/demandware.static/Sites-GoPro-Site/-/default/v1480629108605/images/interface/zoom_gray_36x36.png');
    background-repeat: no-repeat;
    bottom: 0;
    margin-left: 5px;
    margin-bottom: 80px;
    position: absolute;
    left: 0;
    cursor: pointer;
  }

  //==============================================================================//
  //                           Details Box on Right                               //
  //==============================================================================//
  .details-box {
    width: 430px;
    height: 100%;
  }

  .paypal-info-box {
    height: 12px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    justify-content: flex-end;
    font-family: $title;
    font-size: 11px;
    margin-top: 26px;

  }

  .pp-logo-size {
    width: 53px;
    height: 18px;
    background: url('http://demandware.edgesuite.net/aasj_prd/on/demandware.static/Sites-GoPro-Site/-/default/dw8479c0fe/images/interface/pp_credit_alternate.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -6px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .description-box {
    width: 94%;
    font-family: $title;
    font-size: 14px;
    color: #666666;
    margin-left: 26px;
    margin-top: 55px;
    line-height: 18px;
  }

  .titles {
    text-transform: uppercase;
    color: #666666;
    font-family: $title;
    font-size: 18px;
  }

  .color-position {
    margin-left: 22px;
    margin-top: 25px;
  }

  .swatch-position {
    width:60px;
    margin-left: 22px;
    display:flex;
    justify-content: space-between;
}

  .circle-color {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    // margin-left: 24px;
    margin-top: 5px;
    display: inline-block;
    cursor: pointer;
  }

  .blue-border {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow:0px 0px 0px 3px $med-blue inset;
  }

  .Grey {
      background: #ccc;
  }

  .Sand {
      background: #e3c38a;
  }

  .Black {
      background: black;
  }

  .Charcoal {
      background: #666465;
  }

  .size-position {
    margin-left: 22px;
    margin-top: 43px;
  }
  .size-container {
    margin-top: 5px;
    margin-left: 22px;
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: space-between;;
    flex-direction: row;
    user-select: none;
    cursor: pointer;
    .border-blue {
      box-shadow:0px 0px 0px 3px $med-blue inset;
    }
  }

  .size-boxes {
    width: 52px;
    height: 36px;
    border: 1px #cccccc solid;
    font-family: $title;
    font-size: 15px;
    text-transform: uppercase;
    color: #666666;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    input: focus;
    outline: none;
    cursor: pointer;
  }

  .quantity-position {
    margin-left: 22px;
    margin-top: 51px;
  }

  .quantity-container {
    @extend .size-container;
    width: 159px;
  }

  .plus {
    background: url('http://demandware.edgesuite.net/aasj_prd/on/demandware.static/Sites-GoPro-Site/-/default/v1480629108605/images/goproplus/quantity-counter-minus.png') center center no-repeat;

  }

  .minus {
    background: url('http://demandware.edgesuite.net/aasj_prd/on/demandware.static/Sites-GoPro-Site/-/default/v1480629108605/images/goproplus/quantity-counter-plus.png') center center no-repeat;
  }

  .counter {
    width: 65px;
    height: 34px;
    border: 1px #cccccc solid;
    border-right: none;
    border-left: none;
    font-family: $title;
    font-size: 16px;
    text-transform: uppercase;
    color: #666666;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;

  }

  //==============================================================================//
  //                                Modal                                         //
  //==============================================================================//

  .modal-bg {
    z-index: 14; /* fix this*/
    background: rgba(0, 0, 0, .75);
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flexSetUp(center, center);
  }
  .modal-image-container {
    width: 700px;
    height: 600px;
    overflow: hidden;
    @include flexSetUp(center, center);
  }

  .modal-image-proportion {
    max-height: 100%;
    height: auto;
    width: auto;
  }
  .close {
    color: #fff;
    position: absolute;
    top: 15%;
    right: 8%;
    font-size: 53px;
    font-weight: 700;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -33px;
  padding: 0 46px;
  color: #999999;
  font-weight: bold;
  font-size: 85px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  }
  .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -33px;
  padding: 0 46px;
  color: #999999;
  font-weight: bold;
  font-size: 85px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  left: 0;
  }
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: #000000;
}


}
