.banner {
   @include width-height(1200px, 75px);
   @include flexSetUp(space-between, center);
   background-color: black;
   color: white;
   z-index: 10;
   position: fixed;
   right: 0;
   left: 0;
   top: 0px;
   margin-right: auto;
   margin-left: auto;

   .left {
      @include width-height(500px, 20px);
      display: flex;
      flex-direction: row;
      .logo {
         @include width-height(100px, 35px);
         margin-top: -7%;
      }
      .plus {
         @include width-height(73px, 12px);
      }
      ul {
         display: flex;
         flex-direction: row;
      }
      li {
         margin-left: 39px;
         font-family: $header-link;
         font-size: 900;
         text-transform: uppercase;
         height: 40px;
      }
      .search-icon {
         @include width-height(14px, 14px);
      }
   }

   .right {
      width: 310px;
      margin-right: 20px;
      margin-top: 15px;
      @include flexSetUp();
      flex-direction: column;
      .top {
         margin-top: -10px;
         margin-bottom: 9px;
         color: $label-blue;
         font-family: $header-link;
         font-size: 500;
         text-transform: capitalize;
         font-size: 14px;
      }
      .bottom {
         font-family: $header-link;
         font-size: 300;
         text-transform: capitalize;
         font-size: 14px;

         .down-arrow {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #ffffff transparent transparent transparent;
            margin-top: 5px;
            margin-left: 5px;
         }
         
         ul {
            @include flexSetUp(space-between, center);
            flex-direction: row;
            li {
               margin-right: 25px;
               @include flexSetUp();
               flex-direction: row;
               img {
                  @include width-height(20px, 20px);
               }
               a {
                  text-decoration: none;
                  color: white;
               }
               a:hover {
                  text-decoration: none;
                  color: white;
               }
               a:visited {
                  text-decoration: none;
                  color: white;
               }
            }
         }
      }
   }
}

.dropdown {
   @include width-height(1200px, 95px);
   @include flexSetUp(space-between, flex-end);
   background-color: white;
   color: black;
   z-index: 9;
   position: fixed;
   right: 0;
   left: 0;
   margin-right: auto;
   margin-left: auto;
   top: -34px;
   transition: top 0.3s cubic-bezier(0.68, -0.01, 0.31, 1.31);

   .label {
      font-family: $header-link;
      font-size: 14px;
      font-size: 900;
      text-transform: capitalize;
      margin-top: 4px;
   }
   .watch-small {
      width: 580px;
      margin: auto;
   }
   ul {
      width: 100%;
      @include flexSetUp(space-around);
      flex-direction: row;
      li {
         width: 100%;
         @include flexSetUp(flex-start, center);
         flex-direction: column;
         margin-bottom: 3px;
      }
      li:hover {
         border-bottom: $button-blue solid 3px;
         margin-bottom: 0px;
      }
      a {
         text-decoration: none;
         color: black;
      }
      a:hover {
         text-decoration: none;
         color: black;
      }
      a:visited {
         text-decoration: none;
         color: black;
      }
   }
}

.dropdown-show {
   top: 75px;
}
