.cameras-container {
    -webkit-font-smoothing: antialiased;
    background: #F7F7F7;
    // nested
    .top-section {
        position: relative;
        margin-bottom: 60px;

    }

    .top-hero-box {
        display: inline-block;
        vertical-align: middle;
    }

    .top-hero-image {
        width: 100%;
    }

    .stacked-cams {
        width: auto;
        display: block;
        margin: -173px auto auto;
    }

    .header-text {
      top: calc(45% - 74px);
      width: 100%;
      text-align: center;
      color: #FFFFFF;
      position: absolute;
    }

    .tagline-text {
      font-family: 'proxima-nova-rg';
      font-wight: bold;
      font-size: 22px;
      margin-top: 20px;
    }

    .header-text-styling {
      font-family: $title;
      font-size: 64px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    //==============================================================================//
    //                          HERO5 Section                                       //
    //==============================================================================//

    .hero-container {
        width: 84%;
        background: #FFFFFF;
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column; /*need?*/
        margin: auto;
        position: relative;
        padding-bottom: 4%;
    }

    .hero5-header-size {
        width: 100%;
    }

    .hero5-logo-position {
      width: auto;
      position: absolute;
      top: 6.5%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }

    .logo {
      width: auto;
      position: absolute;
      top: 6.5%;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }

    .hero5-image {
      width: 35%;
      margin-top: -13%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    .title-font {
      font-family: $title;
      font-weight: bold;
      font-size: 36px;
      margin-top: 3vh;
      color: $fake-black;
      letter-spacing: .01em;
    }

    .tag-line {
      width: 70%;
      max-width: 800px;
      font-family: $tagline;
      font-size: $tagline-size;
      color: $fake-black;
      padding: 23px;
      margin: auto;
      line-height: 30px;

    }

    .button-row {
      width: 100%;
      height: 13.5vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .solid-button {
      width: 150px;
      height: 52px;
      background-color: $button-color;
      color: #ffffff;
      border-radius: 3px;
      @include button-text()
      @include flexSetUp(center, center);
      margin-right: 10px;
    }

    .outline-button {
      width: 150px;
      height: 48px;
      border: 2px solid $button-color;
      color: $button-color;
      @include button-text()
      @include flexSetUp(center, center);
      margin-left: 10px;
    }

    .compare-text {
      @include button-text()
      @include flexSetUp(center, center);
      color: $fake-black;
      margin-top: 5px;
      text-transform: uppercase;
    }
    //===============================================================================//
    //                        HERO5 Session and Session Section                      //
    //===============================================================================//
    .sessions-container {
      width: 84%;
      height: 100vh;
      background: #F7F7F7;
      text-align: center;
      margin: auto;
      padding-top: 6%;
      padding-bottom: 4%;
    }



    .left-half {
      width: 41%;
      position: absolute;
      background-color: #FFFFFF;
      padding-bottom: 4%;
    }

    .hero5-session-image {
      width: 60%;
      margin-top: -29%;
    }

    .right-half {
      width: 41%;
      position: absolute;
      right: 8vw;
      background-color: #FFFFFF;
      padding-bottom: 4%;
    }

    .session-image {
      width: 60%;
      margin-top: -29%;
    }

    //===============================================================================//
    //                          Bottom Hero Image                                    //
    //===============================================================================//
    .bottom-hero-container {
      width: 100%;
      height: 100%;
      position: relative;
      margin-top: 25px;
      margin-bottom: 60px;
    }

    .bottom-text-styling {
      font-family: $title;
      font-size: 64px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: 11vh;
    }

    .compare-text-bottom {
      @include button-text()
      @include flexSetUp(center, center);
      color: $fake-black;
      margin-top: 24px;
      padding-bottom: 72px;
      text-transform: uppercase;
    }
    //==============================================================================//
    //                          Comparison Chart                                    //
    //==============================================================================//
    .compare-container {
        width: 95%;
        // height: 100vh;
        display: -webkit-flex;
        display: flex;
        margin: auto;
    }

    .compare-column {
        width: 100%;
        // height: 100vh;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        background: #F7F7F7;
    }

    .top-box {
        width: 100%;
        height: 200px;
        background: #F7F7F7;
        text-align: center;
        padding: 5% 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .top-box-title {
      font-family: $title;
        font-size: 26px;
        font-weight: bold;
        color: $fake-black;
        position: relative;
        top: 20px;
        padding-bottom: 31px;
        letter-spacing: 1px;
    }

    .top-box-price {
        font-family: $tagline, 'Open Sans', 'Tahoma', 'Helvetica', sans-serif;
        font-size: 16px;
    }

    .top-learn-more-button {
        width: 144px;
        min-height: 35px;
        background: #00b8fd;
        font-family: 'Open Sans', 'Tahoma', 'Helvetica', sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        color: #FFFFFF;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        position: relative;
        top: 10px;
    }

    .learn-more-button {
        width: 144px;
        min-height: 35px;
        background: #00b8fd;
        font-family: 'Open Sans', 'Tahoma', 'Helvetica', sans-serif;
        font-size: 12px;
        letter-spacing: 2px;
        color: #FFFFFF;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }

    .learn-more-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .learn-more-row {
        width: 97%;
        display: flex;
        justify-content: center;
        margin: 50px auto 0;
    }

    .img-box {
       background: #DDDDDD;
       position: relative;
       width: 100%;
       height: 300px;
       display: flex;
       justify-content: center;
    }

    .img-HERO5 {
        z-index: 1;
        position: absolute;
        bottom: -18%;
    }

    .img-HERO5-session {
        z-index: 1;
        position: absolute;
        bottom: -18%;
    }

    .img-session {
        z-index: 1;
        width: 85%;
        position: absolute;
        bottom: -22%;
    }

    .spec-container {
        width: 100%;
    }

    .top-two-spec-boxes {
        height: 30px;
        line-height: 1.5em;
        border-bottom: 1px solid #ccc;
        float: left;
        display: inline;
        background: black;
    }

    .spec-box {
        height: 160px;
        line-height: 3em;
        float: left;
        display: inline;
        background: black;
    }

    #two-columns .spec-box {
        width: 50%;
    }

    .top-two-text-align {
        width: 50%;
        display: block;
        margin: 8px auto auto;
        text-align: center;
        line-height: 1.5em;
        font-size: 13px;
        font-family: $title;
        position: relative;
        top: 100px;
        color: #666666;
    }

    .top-two-icon-size {
        width: 100%;
        height: 50px;
        position: relative;
        top: 100px;
    }

    .text-align {
        width: 50%;
        display: block;
        margin: 8px auto auto;
        text-align: center;
        line-height: 1.5em;
        font-size: 13px;
        font-family: $title;
        position: relative;
        top: 28px;
        color: #666666;
    }

    .text-white {
        width: 50%;
        display: block;
        margin: 8px auto auto;
        text-align: center;
        line-height: 1.5em;
        font-size: 13px;
        font-family: $title;
        position: relative;
        top: 28px;
        color: #FFFFFF;
    }

    .icon-size {
        width: 100%;
        height: 50px;
        position: relative;
        top: 28px;
    }

    .spec-box-color1 {
        background: #FFFFFF;
    }

    .icon-camera {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/Photo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color2 {
        background: #F2F1F0;
    }

    .icon-video {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/Video.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color3 {
        background: #E3E4E2;
    }

    .icon-waterproof {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479782283383/images/compare_feature_icons/Waterproof.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color4 {
        background: #CBCCCB;
    }

    .icon-one-button {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479782283383/images/compare_feature_icons/1%20Button.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color5 {
        background: #B4B4B4;
    }

    .icon-wifi {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/Wifi.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color6 {
        background: #9E9F9E;
    }

    .icon-wind {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/Wind%20Suppression.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color7 {
        background: #00A3D1;
    }

    .icon-voice {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/Voice%20Control.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color8 {
        background: #0695C5;
    }

    .icon-stabilization {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/video%20stabilization.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color9 {
        background: #007FBA;
    }

    .icon-touch {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/Touchscreen.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color10 {
        background: #005295;
    }

    .icon-auto-upload {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/AutoUpload.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color11 {
        background: #00447A;
    }

    .icon-location {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/GPS%20Capture.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .spec-box-color12 {
        background: #012E57;
    }

    .icon-raw {
        background: url("https://shop.gopro.com/on/demandware.static/Sites-GoPro-Site/-/default/v1479924154516/images/compare_feature_icons/RAW%20Format.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .spec-box-no-color {
        background: none;
    }

}
