.cart-page {
   max-width: 1200px;
   width: 1200px;
   margin: auto;
   margin-top: 150px;
   background: white;


   .top-labels {
      @include width-height(1138px, 40px);
      @include flexSetUp(space-between, center);
      background-color: white;
      padding: 10px 30px;
      z-index: 5;
      position: fixed;
      right: 0;
      left: 0;
      top: 80px;
      margin-right: auto;
      margin-left: auto;
      border: $fake-black 1px solid;
      h2 {
         font-family: $title;
         font-size: 25px;
      }
      .buttons {
         @include flexSetUp(center, center);

         a {
            text-decoration: none;
         }
         .button-clear {
           @include flexSetUp(center, center);
           @include width-height(160px, 30px);
           margin: 0 6px;
           background: white;
           color: $fake-black;
           border-radius: 3px;
           border: black 1px solid;
           transition: color 0.3s;
           transition: background 0.3s;
           h2 {
             font-family: $title;
             font-size: 14px;
             font-weight: 500;
             text-transform: uppercase;
           }
         }
         .button-clear:hover {
           cursor: pointer;
           background: #009fdf;
           color: white;
         }
         .button-green {
           @include flexSetUp(space-between, center);
           @include width-height(120px, 38px);
           background: #00b300;

           padding: 1px 10px;
           color: white;
           border-radius: 3px;
           h2 {
             text-transform: uppercase;
             font-family: $button-text;
             font-weight: bold;
             font-size: 16px;
             margin-left: 6px;
           }
         }
         .button-green:hover {
           cursor: pointer;
         }
      }
   }

   .items-incart {
      margin: 0 15px;
      padding: 15px 0;
      border-bottom: 1px #d3d3d3 solid;
      @include flexSetUp();
      .left {
         .img-container {
            @include width-height(174px, 174px);
            @include flexSetUp(center, center);
            border: 1px #d3d3d3 solid;
            img {
               max-height: 100%;
               max-width: 130px;
               height: auto;
               width: auto;
            }
         }
      }
      .right {
         margin-left: 25px;
         width: 100%;
         height: 100%;
         @include flexSetUp(flex-start, center);

            .one {
               @include flexSetUp();
               flex-direction: column;
               width: 38%;
               h2 {
                  font-family: $title;
                  font-weight: bold;
                  font-size: 20px;
                  color: $med-blue;
               }
               h3 {
                  margin-top: 10px;
                  font-family: $title;
                  color: #999999;
                  font-size: 13px;
               }
            }
            .two {
               width: 32%;
               .itm-quan {
                  @include width-height(56px, 30px);
                  border-color: #CCCCCC;
                  border-radius: 3px;
                  padding: 0 10px;
               }
               h2 {
                  text-transform: uppercase;
                  margin-top: 10px;
                  font-family: $title;
                  font-size: 14px;
                  cursor: pointer;
               }
            }
            .three {
               width: 15%;
               h2 {
                  font-weight: normal;
                  font-family: $title;
                  font-size: 20px;
                  color: black;
               }
            }
      }
   }

   .total {
      @include flexSetUp(flex-end);
      .subTotal {
         @include flexSetUp(flex-start);
         flex-direction: column;
         @include width-height(375px, 200px);
         margin-right: 20px;
         .row {
            @include flexSetUp(space-between, center);
            width: 100%;
            margin-top: 25px;
            h2 {
               font-family: $title;
               font-weight: bold;
               font-size: 20px;
               color: black;
            }
            h3 {
               font-family: $title;
               font-weight: lighter;
               font-size: 18px;
               color: $fake-black
            }
            h4 {
               font-family: $title;
               font-size: 12px;
               color: black;
               margin-top: -25px;
            }
         }
      }
      .bot-bar {
         padding-bottom: 25px;
         border-bottom: 1px solid #d3d3d3;
      }
   }


}
