* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;

  .fixed-cart-header {
    @include width-height(100%, 115px);
    max-width: 1200px;
    @include flex-j-a(space-between, space-between);
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: #ffffff;

    .buttons {
      @include flex-j-a(flex-end, center);
      padding: 5px 14px;

      a {
        text-decoration: none;
      }
      .button-clear {
        @include flex-j-a(center, center);
        @include width-height(160px, 33px);
        margin: 0 6px;
        background: white;
        color: $fake-black;
        // border-radius: 3px;
        border: black 1px solid;
        transition: color 0.3s;
        transition: background 0.3s;
        h2 {
          font-family: $main;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
      .button-clear:hover {
        cursor: pointer;
        background: #00b8fd;
        color: white;
      }
      .button-green {
        @include flex-j-a(space-between, center);
        @include width-height(140px, 40px);
        background: #27d000;
        padding: 1px 10px;
        color: white;
        h2 {
          text-transform: uppercase;
          font-family: $button-text;
          font-weight: bold;
          font-size: 16px;
          margin-left: 6px;
        }
      }
      .button-green:hover {
        cursor: pointer;
        background-color: #21b600;
        color: white;
      }
    }
  }
  .cart-page {
    width: 100%;
    max-width: 1200px;
    // height: 100vh;
    position: relative;
    top: 75px;
    margin: 0 auto;

    h2 {
      font-family: $main;
      font-size: 1.875rem;
      // padding: 20px 0;
    }
  }
  /* Cart Table (column names)
------------------------------------------------------------- */
  .items-list {
    height: 100%;
    padding: 0 14px;
    padding-top: 117px;
    position: relative;
  }

  .table-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    height: 37px;
    color: $fake-black;
    font-family: $main;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-top: 4px;
    border-bottom: 1px solid #ccc;

    #product {
      width: 200px;
    }

    #ghost-description {
      width: 339px;
    }

    #quantity {
      width: 287px;
    }

    #price {
      width: 135px;
    }

    #total-price {
      width: 138px;
      white-space: nowrap;
    }
  }
  /* Items in cart
------------------------------------------------------------- */
  .items-incart {
    // margin: 0 15px;
    padding: 15px 0;
    border-bottom: 1px #f3f3f3 solid;
    @include flex-j-a();
    .left {
      .img-container {
        @include width-height(174px, 174px);
        @include flex-j-a(center, center);
        border: 1px #cccccc solid;
        img {
          max-height: 100%;
          max-width: 150px;
          height: auto;
          width: auto;
        }
      }
    }
    .right {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 8px;
      width: 100%;
      height: 100%;

      .one {
        @include flex-j-a();
        flex-direction: column;
        width: 38%;
        padding: 0 0 13px 15px;
        h2 {
          font-family: $main;
          font-size: 20px;
          color: $med-blue;
        }
        h3 {
          margin-top: 10px;
          font-family: $main;
          color: #999999;
          font-size: 13px;
        }
      }
      .two {
        width: 32%;
        padding: 0 20px;
        .itm-quan {
          @include width-height(40px, 31px);
          border-color: #999999;
          background-color: #ffffff;
          border-radius: 3px;
          position: relative;
          bottom: 2px;
          right: 2px;
          font-size: 14px;
        }
        h2 {
          text-transform: uppercase;
          margin-top: 10px;
          font-family: Arial;
          font-size: 12px;
          cursor: pointer;
        }
      }
      .three {
        width: 15%;
        padding: 0 7px;
        h2 {
          font-weight: normal;
          font-family: $main;
          font-size: 20px;
          color: black;
        }
      }
    }
  }
  /* Total Section
------------------------------------------------------------- */
  .total {
    @include flex-j-a(flex-end);
    .subTotal {
      @include flex-j-a(flex-start);
      flex-direction: column;
      // @include width-height(375px, 210px);
      @include width-height(375px, 255px);

      .row {
        @include flex-j-a(space-between, center);
        width: 100%;
        margin-top: 21px;
        h2 {
          font-family: $main;
          font-weight: bold;
          font-size: 20px;
          color: black;
        }
        h3 {
          font-family: $main;
          font-weight: lighter;
          font-size: 1rem;
          color: $fake-black;
        }
        // h4 {
        //   font-family: Tahoma, Helvetica, sans-serif;
        //   letter-spacing: .5px;
        //   font-size: $font12px;
        //   color: black;
        //   margin-top: -25px;
        // }
      }
    }
    .bot-bar {
      padding-bottom: 14px;
    }
  }
  #free-shipping {
    font-family: Helvetica, sans-serif;
    font-weight: 400px;
    font-size: $font14px;
    letter-spacing: .5px;
    color: #b40365;
  }

  #fake-country-container {
    @include flex-j-a(flex-start, flex-end);
    flex-direction: row;
    width: 375px;
    border-bottom: 1px solid #999999;
    padding-bottom: 13px;
  }
  #fake-country-drop {
    @include flex-j-a(space-between, center);
    width: 150px;
    padding: 5px;
    border: 1px solid #999999;
    border-radius: 3px;
    color: #999999;
    font-size: $font12px;
    font-family: $main;
    margin-top: 12px;
    background-color: #fff;
  }
  #question-circle {
    font-size: 1.275rem;
    color: #ccc;
    padding-left: 10px;
  }

  #estimated-total {
    @include flex-j-a(space-between, flex-start);
    width: 375px;
    flex-direction: row;
    font-family: $main;
    font-size: 1.25rem;
    padding: 5px 0;
  }

  #fine-print {
    font-family: Tahoma, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: $font12px;
    color: black;
    position: relative;
    bottom: 7px;
  }
}
