.droper {
  position: absolute;
  width: 100%;
}

.footer {
  width: 100%;
  padding: 10px 24px 10px;
  color: white;
  background: black;

  .thirds {
    @include flex-j-a(space-around, center);
    padding-top: 33px;
    .third {
      @include width-height(30%, 150px);
      flex-direction: column;
      @include flex-j-a(space-between);
      .top {
        .header {
          font-family: $footer-tag;
          font-size: $font14px;
          font-weight: bold;
          border-bottom: 1px white solid;
          padding-bottom: 12px;
          text-transform: uppercase;
          span {
            margin-left: 10px;
            font-weight: 400;
            font-size: 14px;
          }
        }
        .text {
          margin-top: 7px;
          font-family: $footer-link;
          font-size: $font14px;
          font-weight: 100;
          line-height: 21px;
        }
      }
      .bottom {
        color: pink;
        @include flex-j-a(flex-start, center);
        position: relative;
        top: 14px;
        input {
          @include width-height(140px, 28px);
          font-size: $font14px;
          padding-left: 5px;
          border-radius: 2px;
          border: none;
        }
        span {
          font-family: 'Helvetica', 'Tahoma', 'sans-serif';
          text-transform: uppercase;
          color: $med-blue;
          font-size: $font14px;
          font-weight: 100;
        }

        .submit {
          margin-left: 20px;
        }
      }
    }
  }

  .middle {
    @include flex-j-a();
    flex-direction: column;
    margin: 45px 2% 0 2%;
    .top {
      @include flex-j-a(space-between, center);
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 1px white solid;
      .images {
        @include flex-j-a(space-between,center);
        img {
          margin-right: 15px;
        }
      }
      .right {
        font-family: $footer-tag;
        font-size: 22px;
        margin-bottom: -30px;
        text-transform: capitalize;
        span {
          font-size: 20px;
        }
      }
    }

    .bottom {
      ul {
        @include flex-j-a();
        flex-wrap: wrap;
        li {
          font-family: $footer-tag;
          margin-right: 18px;
          margin-top: 18px;
          text-transform: capitalize;
          font-size: 12.5px;
        }
      }
    }
  }

  .bottom-box {
    margin: 45px 0 0 2%;
    font-family: $footer-tag;
    font-size: 12px;
    color: gray;
  }
}
