//***** .landing allots space for the nav bar *****//
// * {
//   box-sizing: border-box;

.landing {
  width: 100%;
  @include flex-j-a(center, center);
  flex-direction: column;
  background-color: #ffffff;
  overflow: hidden;

  #banner-placeholder {
    width: 100%;
    height: 75px;
    background: rebeccapurple;
  }

  //***** moves all sections up to cover white space *****//
  // section {
  //   margin: -2px 0px;
  // }
  //***** allots space for nav bar *****//
  #section1 {
    // margin-top: 73px;
  }

  .product-container {
    width: 100%;
    @include flex-j-a(center, center);
    flex-direction: column;
    position: relative;
  }

  .section-image {
    width: 100%;
    // max-width: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .product-copy {
    font-family: $main;
    font-weight: 700;
    font-size: 1rem;
    color: $white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: -2px;

    h2 {
      font-size: 1.875rem;
    }

    h3 {
      font-size: 1.375rem;
      letter-spacing: -1px;
    }

    span {
      color: $button-color;
    }
  }

  h1 {
    font-size: 3.75rem;
    font-weight: 900;
    padding: 15px;
    -webkit-transform: scale(1.1, 1);
    -moz-transform: scale(1.1, 1);
    -ms-transform: scale(1.1, 1);
    -o-transform: scale(1.1, 1);
  }

  .buttons-container {
    @include width-height(320px, 68px);
    @include flex-j-a(space-between, flex-end);
    flex-direction: row;
    text-transform: uppercase;

    .button {
      @include width-height(150px, 50px);
      @include button-text() @include flex-j-a(center, center);
      font-weight: 700;
      font-family: $main;
      font-size: $font12px;
      letter-spacing: 0;
    }

    .solid-button {
      background-color: $button-color;
      color: $white;
      margin-right: 9px;
      user-select: none;
      cursor: pointer;
    }

    .blue-outline-button {
      border: 2px solid $button-color;
      color: $button-color;
      margin-left: 9px;
    }

    .white-outline-button {
      border: 2px solid $white;
      color: $white;
      margin-left: 9px;
    }
  }

  .quick-stories-container {
    // @include width-height(155px, 70px);
    @include flex-j-a(center, center);
    flex-direction: column;
    font-family: $main;
    color: $white;
    position: absolute;

    .logo {
      width: 100%;
    }

    h6 {
      font-size: $font10px;
      letter-spacing: .5rem;
      text-transform: uppercase;
    }
  }

  .product-card-container {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 28px;
    padding-bottom: 20px;
  }

  .product-card {
    @include width-height(278px, 310px);
    // @include flex-j-a(flex-start, center);
    // flex-direction: column;
    text-align: center;
    display: inline-block;
    margin: 0 7px;
  }

  #section1-copy {
    top: 6%;
    left: 0;
    right: 0;
    margin: auto;
  }

  #section1-logo-position {
    bottom: 3.7%;
  }

  #section2-copy {
    top: 49.3%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    width: 50%;
  }

  #section2-logo-position {
    bottom: 15%;
    right: 22.3%;
  }

  #section3-copy {
    right: 0;
    width: 50%;
    h2 {
      text-transform: uppercase;
    }
  }

  #section3-logo-position {
    bottom: 15.1%;
    left: 29.7%;
  }

  #section4-copy {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    margin: inherit;
    padding-left: 13.3% !important;

    span {
      top: 10px;
    }
    .buttons-container {
      height: 77px;
    }
  }
  #section5-copy {
    padding: 35px 20px;

    h1 {
      font-family: $main;
      color: $fake-black;
    }

    .buttons-container {
      width: 145px;
      margin: 0 auto;
    }

    .solid-button {
      margin-right: 0px;
    }
  }

  #section5-fusion-image {
    position: relative;
    bottom: 54px;
  }
  .logo-container {
    @include flex-j-a(flex-start, center);
    flex-direction: column;
    font-family: $main;
    font-size: $font14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 42px;
    color: $button-color;
    position: relative;
  }
  //logo
  #position-hero-logo {
    position: relative;
    top: 13px;
  }
  //logo
  #position-fusion-logo {
    position: relative;
    bottom: 58px;
  }
  //container
  #move-up {
    position: relative;
    bottom: 30px;
  }
  /* ----------------------------------------------------------- */
  /*                      Media Queries                          */
  /*------------------------------------------------------------ */

  /* Re-sizes nav bar place holder for mobile
  -------------------------------------------------------------- */
  @media screen and (max-width: 850px) {
    #banner-placeholder {
      height: 60px;
    }
  }
  /* Enlarges background image
  -------------------------------------------------------------- */
  @media only screen and (max-width: 1200px) and (min-width: 768px) {
    .section-image {
      background-size: cover;
      background-position: center;
      width: 104%;
    }
  }
  /* Section 2 Text Align Center
  -------------------------------------------------------------- */
  @media only screen and (max-width: 1179px) and (min-width: 1025px) {
    #section2-copy {
      padding: 0 50px;
      text-align: center;
    }
  }
  /* Section 3 Text Align Center
  -------------------------------------------------------------- */
  @media only screen and (max-width: 1055px) and (min-width: 1025px) {
    #section3-copy {
      padding: 0 50px;
      text-align: center;
    }
  }
  /* Minifies and positions copy and quikstories logo
  -------------------------------------------------------------- */
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    // ----- LOGO ----- //
    .quick-stories-container {
      .logo {
        width: 112px;
        height: 38px;
      }
      h6 {
        position: relative;
        left: 10px;
      }
    }
    #section1-logo-position {
      bottom: 2%;
    }
    #section2-logo-position {
      bottom: 16%;
      right: 23.3%;
    }
    #section3-logo-position {
      bottom: 20.1%;
      left: 27.6%;
    }
    // ----- COPY ----- //
    .product-copy {
      background-color: darkseagreen;
      height: 145px;
      h2 {
        height: 19px;
        font-size: 1rem;
        line-height: 19px;
        margin: auto;
        letter-spacing: -1px;
      }
      h1 {
        font-size: 2.125rem;
        padding: 0px;
        letter-spacing: -1px;
      }
      h3 {
        font-size: .75rem;
        padding-top: 8px;
      }
    }
    .buttons-container {
      @include flex-j-a(space-between, center);
      height: 72px;
      padding-top: 7px;

      .button {
        font-size: .75rem;
        letter-spacing: 0;
        font-weight: bolder;
      }
    }
  }
  /* Minifies and positions SPECIFICALLY Section4 Copy
  -------------------------------------------------------------- */
  //Section4 displays a little differently from the other sections.
  //The below is to adjust Section4 w/o altering other sections.
  @media only screen and (max-width: 1024px) {
    #section4-copy {
      width: 50%;
      height: 200px;
      transform: translateY(-53%);
      -webkit-transform: translateY(-53%);
      padding-left: 0 !important;
    }
    #no-padding {
      padding-top: 0;
    }
    #more-buttons-padding {
      padding-bottom: 5%;
    }
  }
  /* Section 5 "Find the right GoPro for you." inline-block solve
  -------------------------------------------------------------- */
  @media only screen and (max-width: 1167px) {
    .product-card-container {
      display: inline-block;
      text-align: center;
    }
    .product-card {
      display: inline-block;
    }
    #center-card {
      @include flex-j-a(center, center);
      flex-direction: column;
      bottom: 51px;
      position: relative;
    }
  }
  /* Section 5 "Find the right GoPro for you." Minifi product images
  -------------------------------------------------------------- */
  @media only screen and (max-width: 1024px) and (min-width: 768px) {
    #center-card {
      bottom: 74px;
    }
    #section5-copy {
      padding: 35px 20px;
      position: relative;
      bottom: 15px;
      h1 {
        height: auto;
        font-size: 34px;
        line-height: 34px;
        margin: auto;
        letter-spacing: -1px;
      }
    }
    .product-card-container {
      display: inline-block;
      width: 100vw;
      text-align: center;
      flex-direction: row;
    }
    .product-card {
      display: inline-block;
      // background: darkslategrey;
      // border: 2px solid red;
      align-items: center;
      width: 168px;
      // height: 227px;
      height: 210px;
      margin: 0;
    }
    .section5-small-image {
      width: 150px;
      height: 98px;
      background-size: contain;
    }
    .logo-width {
      width: 88px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    #position-hero-logo {
      position: relative;
      top: 21px;
    }
    // HERO Customs **********************
    #position-hero-container {
      position: relative;
      bottom: 3px;
    }
    #logo-width-hero {
      width: 80px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    // Fusion Customs **********************
    #position-contents {
      position: relative;
      top: 9px;
    }
    #position-fusion-logo {
      position: relative;
      top: 8px;
    }
    #position-fusion-container {
      position: relative;
      top: 30px;
    }
    #section5-small-fusion-image {
      width: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center bottom;
    }

    #logo-width-fusion {
      width: 112px;
      height: 18px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
} //landing end bracket
