// @import url('https://fonts.googleapis.com/css?family=Miriam+Libre');
//
// .top-banner {
//   height: 860px;
//   background-color: white;
// }
//
// .jumbo-wrapper {
//   width: 100%;
//   height: auto;
//   position: relative;
//   // z-index: -1;
//   .poster {
//     width: 100%;
//     // height: auto;
//   }
//   .jumbotron {
//     overflow: hidden;
//     position: absolute;
//     width: 100%;
//     top: 220px;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
//   .cameras {
//
//     @include flexSetUp(flex-start, center);
//     flex-direction: column;
//     width: 100%;
//     left: 0;
//     bottom: 0;
//     transform: translate(0, 0);
//
//     .text-banner {
//       @include flexSetUp(flex-start, center);
//       flex-direction: column;
//       margin: 150px 0 80px 0;
//       p {
//         font-family: $title;
//         margin-bottom: 25px;
//         color: white;
//
//       }
//     }
//
//     .text-banner-bottom {
//       margin-top: 56px;
//       h2 {
//         font-family: $title;
//         font-size: 50px;
//         color: $fake-black;
//         font-weight: bolder;
//         margin-bottom: 20px;
//       }
//       p {
//         text-align: center;
//         font-family: $tagline;
//         font-size: 20px;
//         color: $fake-black;
//         padding-bottom: 30px;
//       }
//     }
//   }
// }
//
// .button-wrapper {
//   padding-bottom: 50px;
//   .button {
//     width: 64px;
//     background: #009fdf;
//     margin: 0 auto;
//     padding: 15px 40px;
//     text-transform: uppercase;
//     color: white;
//     font-weight: 700;
//     font-size: 12px;
//     font-family: $title;
//     text-align: center;
//   }
//   .button:hover {
//     cursor: pointer;
//   }
// }
//
//
//
//   .photo-wrapper {
//     background-color: #FFF;
//     width: 1200px;
//     height: 670px;
//     display: block;
//     margin: auto;
//     margin-top: 100px;
//
//     .super-div  {
//       @include flexSetUp(flex-start, center);
//       flex-direction: column;
//       position: relative;
//       width: 100%;
//       height: 100%;
//       z-index: 6;
//
//       .karma {
//         margin-top: 48px;
//       }
//       .drone {
//         width: 500px;
//         margin-top: 53px;
//       }
//       .drone-text {
//         @include flexSetUp(flex-start, center);
//         flex-direction: column;
//         font-family: $title;
//         font-weight: bolder;
//         margin-top: 30px;
//         color: #333333;
//         margin-bottom: 60px;
//         h2 {
//           // padding-top: 450px;
//           font-size: 35px;
//           padding-bottom: 20px;
//         }
//         p {
//           font-weight: normal;
//           padding-bottom: 7px
//         }
//       }
//     }
//
//
//     .img {
//       position: absolute;
//       width: 1200px;
//     }
//     .dual-camera {
//       position: absolute;
//       left: 0;
//       right: 0;
//       margin: 0 auto;
//       margin-top: 163px;
//     }
//   }
//
//   .plus-info-box {
//     background-color: #FFF;
//     width: 1200px;
//     height: 650px;
//     display: block;
//     margin: auto;
//     margin-top: 100px;
//
//     .top {
//       height: 15%;
//       @include flexSetUp(center, center);
//       .plus-container {
//         position: relative;
//         padding-top: 0px;
//         }
//       }
//
//       .bottom {
//         display: flex;
//         justify-content: flex-start;
//         height: 85%;
//         .left {
//           width: 35%;
//           color: #333333;
//           @include flexSetUp(center);
//           flex-direction: column;
//           padding-left: 55px;
//           height: 100%;
//           h2 {
//             font-size: 35px;
//             font-family: $title;
//             color: $fake-black;
//             font-weight: bolder;
//             margin-bottom: 30px;
//           }
//           p {
//             font-size: 16px;
//             font-family: $tagline;
//             color: $fake-black;
//             line-height: 30px;
//             margin-bottom: 30px;
//           }
//           .button-box {
//             padding-bottom: 50px;
//             .button {
//               width: 80px;
//               background: #009fdf;
//               margin: 0 auto;
//               padding: 15px 40px;
//               text-transform: uppercase;
//               color: white;
//               font-weight: 700;
//               font-size: 12px;
//               font-family: $title;
//               text-align: center;
//             }
//             .button:hover {
//               cursor: pointer;
//             }
//           }
//         }
//         .right {
//           width: 75%;
//           @include flexSetUp(center);
//           flex-direction: column;
//           margin-left: 100px;
//         }
//       }
//     }
//
//     .video-wrapper {
//       background: url('http://www.deluxebattery.com/wp-content/uploads/2014/11/go-pro-photo-ideas-01.jpg') no-repeat center center;
//       margin: 100px auto;
//       width: 1200px;
//       height: 650px;
//       @include flexSetUp(center, center);
//       flex-direction: column;
//         .text-stuff {
//           font-size: 54px;
//           font-family: $title;
//           color: white;
//           text-transform: uppercase;
//           letter-spacing: 1.5px;
//         }
//         .play-button {
//           padding-top: 30px;
//         }
//         .play-button:hover {
//           cursor: pointer;
//         }
//       .awesome-vid {
//         background-color: black;
//         z-index: 100;
//         // width:500px;
//         // height: 281px;
//         position: fixed;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//
//
//         }
//
//       .fade {
//         background-color: black;
//         z-index: 99;
//         position: fixed;
//         width: 100vw;
//         height: 100vh;
//         opacity: 0.75;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//***** .home allots space for the nav bar *****//
.home {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#section1 {
  margin-top: 65px;
}

.jumbo-image {
  width: 100vw;
  max-width: 1200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
