@import url('https://fonts.googleapis.com/css?family=Miriam+Libre');
$font: 'Roboto', sans-serif;
.top-banner {
  height: 860px;
  background-color: white;
}

.jumbo-wrapper {
  width: 100%;
  height: auto;
  position: relative;
  // z-index: -1;
  .poster {
    width: 100%;
    // height: auto;
  }
  .jumbotron {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .cameras {

    @include flexSetUp(flex-start, center);
    flex-direction: column;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translate(0, 0);

    .text-banner {
      margin: 0px 0 40px 0;
      @include flexSetUp(flex-start, center);
      flex-direction: column;
      margin: 150px 0 33px 0;
      p {
        font-family: $font;
        margin-bottom: 25px;
        color: white;

      }
    }

    .text-banner-bottom {
      margin-top: 56px;
      h2 {
        font-family: $font;
        font-size: 40px;
        color: $fake-black;
        font-weight: bolder;
        margin-bottom: 20px;
      }
      p {
        text-align: center;
        font-family: $font;
        font-size: 20px;
        color: $fake-black;
        padding-bottom: 30px;
      }
    }
  }
}

.button-wrapper {
  padding-bottom: 50px;
  .button {
    width: 63px;
    background: #009fdf;
    margin: 0 auto;
    padding: 15px 40px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 12px;
    font-family: $font;
    text-align: center;
  }
  .button:hover {
    cursor: pointer;
  }
}



  .photo-wrapper {
    background-color: #FFF;
    width: 1200px;
    height: 670px;
    display: block;
    margin: auto;
    margin-top: 100px;
    .karma {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      margin: 0 auto;
      margin-top: 48px;
    }
    .drone {
      z-index: 4;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 500px;
      margin-top: 150px;
    }
    .drone-text {
      position: relative;
      font-family: $font;
      font-weight: bolder;
    }
    .hero-title {
      position: absolute;
      z-index: 3;
      left: 0;
      right: 0;
      margin: 56px auto 0 auto;
    }
    .img {
      position: absolute;
      width: 1200px;
    }
    .dual-camera {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      margin-top: 163px;
    }
  }
