$font: 'Roboto';
// background: url('https://ds9dsukghgfh6.cloudfront.net/54052903d80cd434072bb0cf7cb358e3e66afb64/564aba5bc72b3e61987bcac643414121.jpg') no-repeat;
// background-size: cover;
//https://ds9dsukghgfh6.cloudfront.net/54052903d80cd434072bb0cf7cb358e3e66afb64/7c5c16b72dd2180d81a8130c02452ace.jpg
.overlay {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://ds9dsukghgfh6.cloudfront.net/54052903d80cd434072bb0cf7cb358e3e66afb64/7c5c16b72dd2180d81a8130c02452ace.jpg') center center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.login-page-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .login-wrapper {
        .logo-login {
            max-width: 145px;
            margin: 0 auto;
            padding-top: 44px;
        }

        .sign-in {
            text-align: center;
            padding-top: 75px;
            font-size: 30px;
            font-family: $font;
            color: white;
        }

        .form-wrapper {
            width: 455.66px;
            margin: 0 auto;

            .sign-in {
                padding-bottom: 30px;
                font-family: 'proxima-nova-rg', sans-serif;
                font-weight: 700;
            }

            .center-input {
                display: flex;
                justify-content: center;
                flex-direction: column;

                .email {
                    display: flex;
                    padding: 21px 27px 21px 27px;
                    font-size: 18px;
                    border: transparent;
                }

                .email:focus {
                    outline: none;
                }

                .spacer {
                  width: 388px;
                  margin: -7px;
                  height: 0;
                  color: #bdbdbd;
                  z-index: 4;
                  margin-left: 33px;
                  opacity: .3;
                }

                .password {
                    padding: 21px 27px 21px 47px;
                    font-size: 18px;
                    border: transparent;
                }

                .password:focus {
                    outline: none;
                }

                .sign-in-button {
                    text-align: center;
                    background: #009fdf;
                    padding: 21px 27px 21px 47px;
                    font-family: 'proxima-nova-light';
                    color: white;
                    font-size: 22px;
                    margin-top: 10px;
                    text-transform: uppercase;
                    border: none;
                }

                .sign-in-button:hover {
                    cursor: pointer;
                }
            }
        }
        .center-spacer {
          text-align: center;
          .or-spacer1 {
            width: 200px;
            display: inline-block;
            vertical-align: middle;
            background: transparent;
            opacity: .7;
            background-color: rgba(216,216,216,.3);
          }
          .or {
            display: inline-block;
            font-family: 'proxima-nova-light';
            font-size: 17px;
            text-transform: uppercase;
            color: white;
            letter-spacing: 5px;
            padding: 55px 5px 0 5px;
          }
          .or-spacer2 {
            width: 200px;
            display: inline-block;
            vertical-align: middle;
            background: transparent;
            opacity: .7;
            background-color: rgba(216,216,216,.3);
          }
        }

        .oauth-wrapper {
          width: 455.66px;
          z-index: 5;
          margin: 0 auto;
          margin-top: 20px;
          .fb-login {
            width: 455.66px;
            background: #222;
            background-color: rgb(34, 34, 34);
            text-align: center;
            padding: 21px 27px 21px 47px;
            font-family: 'proxima-nova-light';
            color: white;
            font-size: 15px;
            margin-top: 10px;
            text-transform: uppercase;
            border: none;
            .fa-facebook-f:before, .fa-facebook:before {
              font-size: 20px;
              padding-right: 10px;
            }
          }

          .google-login {
            width: 455.66px;
            background: #222;
            background-color: rgb(34, 34, 34);
            text-align: center;
            padding: 21px 27px 21px 47px;
            font-family: 'proxima-nova-light';
            color: white;
            font-size: 15px;
            margin-top: 10px;
            text-transform: uppercase;
            border: none;
            .fa-google-plus:before {
              font-size: 20px;
              padding-right: 10px;
            }
          }
          .sign-up-text {
            text-align: center;
            color: white;
            font-family: 'proxima-nova-light',sans-serif;
            margin-top: 40px;

          }
          .sign-up-link {
            color: #017faa;
            padding-left: 4px;
          }
        }

    }
}
