$font: 'Roboto';
// background: url('https://ds9dsukghgfh6.cloudfront.net/54052903d80cd434072bb0cf7cb358e3e66afb64/564aba5bc72b3e61987bcac643414121.jpg') no-repeat;
// background-size: cover;
//https://ds9dsukghgfh6.cloudfront.net/54052903d80cd434072bb0cf7cb358e3e66afb64/7c5c16b72dd2180d81a8130c02452ace.jpg
.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../../../images/login/login-bg.jpg') center center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: absolute;
  z-index: -1;
}
.login-page-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: overlay;
  .login-wrapper {
    .logo-login {
      max-width: 148px;
      margin: 0 auto;
      position: relative;
      top: 51px;
    }

    .sign-in {
      text-align: center;
      text-transform: uppercase;
      padding-top: 50px;
      font-size: 1.813rem;
      font-family: $font;
      color: white;
      -webkit-transform: scale(1.1, 1);
      -moz-transform: scale(1.1, 1);
      -ms-transform: scale(1.1, 1);
      -o-transform: scale(1.1, 1);
    }

    .form-wrapper {
      width: 449px;
      height: 345px; //probably needs to be adjusted
      margin: 0 auto;
      position: relative;
      top: 85px;
      background: firebrick;

      .sign-in {
        // padding-bottom: 24px;
        padding-bottom: 24px;
        font-family: 'proxima-nova-rg', sans-serif;
        font-weight: 700;
      }

      .center-input {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 10px;

        .input-icon {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          color: #45bdfd;
          font-size: 22px;
          z-index: 5;
          // position: relative;
          // top: 10px;
          background: #fff;
          padding-left: 19px;
        }
        .email {
          font-size: 1.063rem;
          border: none;
          height: 67px;
          width: 433px;
          padding-left: 6px;
          opacity: .5;
        }

        .email:focus {
          outline: none;
        }

        .spacer {
          width: 402px;
          border: none;
          height: 1px;
          background-color: rgba(0, 0, 0, .19);
          padding-left: 15px;
          z-index: 6;
          position: relative;
          top: 10px;
          margin-top: -9px;
          hr {
            border: none;
            height: 1px;
          }
        }

        .password {
          // padding: 26px 27px;
          // font-size: 18px;
          // border: transparent;
          // height: 67px;
          // position: relative;
          // bottom: 9px;
          font-size: 1.063rem;
          border: none;
          height: 67px;
          width: 433px;
          padding-left: 6px;
          opacity: .5;
        }

        .password:focus {
          outline: none;
        }

        .sign-in-button {
          text-align: center;
          background: #009fdf;
          // padding: 21px 27px 21px 27px;
          padding: 20px 27px;
          font-family: 'proxima-nova-light';
          color: white;
          font-size: 22px;
          margin-top: 8px;
          text-transform: uppercase;
          border: none;
        }

        .sign-in-button:hover {
          cursor: pointer;
        }
      }
    }
    .center-spacer {
      text-align: center;
      hr {
        border: none;
        height: 1px;
      }
      .or-spacer1 {
        width: 192px;
        margin-right: 14px;
        display: inline-block;
        vertical-align: middle;
        background: transparent;
        opacity: .7;
        background-color: rgba(216, 216, 216, .3);
        position: relative;
        top: 64px;
      }
      .or {
        display: inline-block;
        font-family: 'proxima-nova-light';
        font-size: .75rem;
        text-transform: uppercase;
        color: white;
        letter-spacing: 5px;
        padding: 55px 5px 0 5px;
        position: relative;
        top: 64px;
      }
      .or-spacer2 {
        width: 197px;
        margin-left: 14px;
        display: inline-block;
        vertical-align: middle;
        background: transparent;
        opacity: .7;
        background-color: rgba(216, 216, 216, .3);
        position: relative;
        top: 64px;
      }
    }

    .oauth-wrapper {
      width: 449px;
      z-index: 5;
      margin: 0 auto;
      margin-top: 20px;
      position: relative;
      top: 60px;
      .icon {
        font-size: 18px;
        margin-right: 13px;
      }
      .fb-login {
        width: 449px;
        background: #222;
        background-color: rgb(34, 34, 34);
        text-align: center;
        padding: 21px 27px 21px 27px;
        font-family: 'proxima-nova-light';
        color: white;
        font-size: 15px;
        margin-top: 10px;
        text-transform: uppercase;
        border: none;
        // .fa-facebook-f:before,
        // .fa-facebook:before {
        //   font-size: 20px;
        //   padding-right: 10px;
        // }
      }

      .google-login {
        width: 449px;
        background: #222;
        background-color: rgb(34, 34, 34);
        text-align: center;
        padding: 21px 27px 21px 27px;
        font-family: 'proxima-nova-light';
        color: white;
        font-size: 15px;
        margin-top: 10px;
        text-transform: uppercase;
        border: none;
        // .fa-google-plus:before {
        //   font-size: 20px;
        //   padding-right: 10px;
        // }
      }
      .sign-up-text {
        text-align: center;
        color: white;
        font-family: 'proxima-nova-light', sans-serif;
        position: relative;
        top: 43px;
      }
      .sign-up-link {
        color: #017faa;
        padding-left: 4px;
      }
    }
  }
}
