.banner {
   @include width-height(1200px, 75px);
   @include flexSetUp(space-between, center);
   background-color: black;
   color: white;
   .left {
      margin-left: 30px;
   }
   .right {
      margin-right: 30px;
   }
}
