@mixin flex-set-up($justify: flex-start, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin button-text() {
  font-family: 'proxima-nova-medium';
  font-weight: 700;
  font-size: .63rem;
  letter-spacing: .0625rem;
}

@mixin image($link) {
  background-image: url($link);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
