@import url('https://fonts.googleapis.com/css?family=Miriam+Libre|Open+Sans|Roboto:500');

@font-face {
  font-family: 'test';
  src: url('./fonts/proximanova-regular-webfont.woff') format('woff'),
       url('./fonts/proximanova-regular-webfont.woff2') format('woff2'),

       url('./../public/styles/fonts/proximanova-light-webfont.woff') format('woff'),
       url('./../public/styles/fonts/proximanova-light-webfont.woff2') format('woff2'),

       url('./../public/styles/fonts/proximanova-medium-webfont.woff') format('woff'),
       url('./../public/styles/fonts/proximanova-medium-webfont.woff2') format('woff2');
}

$header-link: 'Miriam Libre', sans-serif ; //use all caps, bold SHOP APPS WATCH
$header-text: 'Roboto', sans-serif; //use medium for Login/Register Support US, also use for dropdown Cameras, Drones, etc.

$med-blue: #009FDF;
$dark-blue: #005DAC;
$white: #FFFFFF;
$fake-black: #333333;
$black: #000000;
$light-grey: #F7F7F7;

//==============================================================================//
//                               Header Text                                    //
//==============================================================================//

$header-link: 'Miriam Libre', 'Tahoma', 'Helvetica', sans-serif; //use all caps, bold SHOP APPS WATCH
$header-text: 'Roboto', 'Tahoma', 'Helvetica', sans-serif; //home-view1 for Login/Register Support US, also use for dropdown Cameras, Drones, etc.
$header-font-size: 14px;

//==============================================================================//
//                             Body Text                                        //
//==============================================================================//

$new-title: 'test', 'times new roman';
$title: 'Roboto', 'Tahoma', 'Helvetica', sans-serif;
$title-size: 48px;
$tagline: 'Open Sans', 'Tahoma', 'Helvetica', sans-serif;
$tagline-size: 28px;
$button-text: 'Open Sans', 'Tahoma', 'Helvetica', sans-serif;
$button-text-size: 12px;
//$video-text:

//==============================================================================//
//                              Footer                                          //
//==============================================================================//

$footer-title: 'Miriam Libre', 'Tahoma', 'Helvetica', sans-serif;
$footer-title-size: 15px;
$footer-tag: 'Roboto', 'Tahoma', 'Helvetica', sans-serif; //if possible, make Roboto Light weight
$footer-tag-size: 14px;
$footer-link: 'Helvetica', 'Tahoma', sans-serif;
